body {
    background-color: white;
}

h1 {
    font-size: 24px;
    color: #87CEFF;
}

p, ul {
    font-size: 18px;
    color: black;
}

ul {
    margin-left: 5px;
}

h1.blocktext {
    text-align: center;
}

p.blocktext {
    text-align: center;
    border: #87CEFF;
    border-style: double;
    border-width: 1px;
}
